:root {
    --primary-color: #4CAF50;
    --secondary-color: #f0f0f0;
    --white-color: #fff;
    --text-color: #292929;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Merriweather Sans", sans-serif;
    background: #1f2f36;
background: linear-gradient(90deg,rgba(31, 47, 54, 1) 0%, rgba(117, 79, 93, 1) 50%, rgba(138, 100, 62, 1) 100%);
    color: var(--text-color);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    line-height: 1.6;
}

/* SECTIONS */

/* NAVBAR */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 50px;
    background-color: rgba(255, 255, 255, 0.17);
}

.nav-links {
    display: flex;
    justify-content: center;
    gap:2rem;
}

.nav-links a {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
}

/* ABOUT SECTION */
.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px; 
}

.artist-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.about-section h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.about-section p {
    font-size: 18px;
    text-align: center;
    max-width: 600px;
    color: var(--text-color)
}